<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Movie Ratings</title>
</head>
	<body>
		<table>
			<tr>
				<th>Movie Title</th>
				<th>Movie Rating</th>
				<th>Person First Name</th>
				<th>Person Last Name</th>
				<th>Time Added</th>
			</tr>
			<tr th:each="movie : ${movieRatings}" >
				<td th:text="${movie.movieTitle}"></td>
				<td th:text="${movie.rating}"></td>
				<td th:text="${movie.firstName}"></td>
				<td th:text="${movie.lastName}"></td>
				<td th:text="${#dates.format(movie.dateTime, 'M/d/YY h:MM aa')}"></td>
			</tr>
		</table>
		<br><br>
		<a href="/"><button>Home</button></a>
		<a href="/movies/new"><button>New Rating</button></a>
	</body>
</html>